[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = {version = "==2.2.10",index = "https://pypi.douban.com/simple/"}

[requires]
python_version = "3.5"
